USE [master]
GO
/****** Object:  Database [customer_services]    Script Date: 4/25/2026 12:13:02 AM ******/
CREATE DATABASE [customer_services]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'customer_services', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\customer_services.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'customer_services_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\customer_services_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [customer_services].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [customer_services]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 4/25/2026 12:13:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_customer_id] [int] NOT NULL,
	[contract_type_id] [int] NOT NULL,
	[contract_rate] [decimal](10, 2) NOT NULL,
	[contract_start_date] [date] NOT NULL,
	[contract_end_date] [date] NOT NULL,
	[contract_status] [varchar](20) NULL,
	[contract_created_at] [datetime2](7) NULL,
	[contract_updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractTypes]    Script Date: 4/25/2026 12:13:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractTypes](
	[contract_type_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_type_name] [nvarchar](100) NOT NULL,
	[contract_type_rate] [decimal](10, 2) NOT NULL,
	[contract_type_created_at] [datetime2](7) NULL,
	[contract_type_updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/25/2026 12:13:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_user_id] [int] NOT NULL,
	[customer_fullname] [nvarchar](150) NULL,
	[customer_address] [nvarchar](255) NULL,
	[customer_priority] [varchar](20) NULL,
	[customer_created_at] [datetime2](7) NULL,
	[customer_updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContractTypes] ON 

INSERT [dbo].[ContractTypes] ([contract_type_id], [contract_type_name], [contract_type_rate], [contract_type_created_at], [contract_type_updated_at]) VALUES (1, N'Hộ gia đình', CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-04-22T21:40:09.3400000' AS DateTime2), NULL)
INSERT [dbo].[ContractTypes] ([contract_type_id], [contract_type_name], [contract_type_rate], [contract_type_created_at], [contract_type_updated_at]) VALUES (2, N'Doanh nghiệp', CAST(2500.00 AS Decimal(10, 2)), CAST(N'2026-04-22T21:40:09.3400000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ContractTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([customer_id], [customer_user_id], [customer_fullname], [customer_address], [customer_priority], [customer_created_at], [customer_updated_at]) VALUES (3, 26, NULL, NULL, N'NORMAL', CAST(N'2026-04-24T16:58:48.2100000' AS DateTime2), CAST(N'2026-04-24T16:58:48.2100000' AS DateTime2))
INSERT [dbo].[Customers] ([customer_id], [customer_user_id], [customer_fullname], [customer_address], [customer_priority], [customer_created_at], [customer_updated_at]) VALUES (4, 29, NULL, NULL, N'NORMAL', CAST(N'2026-04-24T17:31:14.2066667' AS DateTime2), CAST(N'2026-04-24T17:31:14.2066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
/****** Object:  Index [UQ__Customer__C9955625521B20FA]    Script Date: 4/25/2026 12:13:02 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[customer_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__C9955625F3C39405]    Script Date: 4/25/2026 12:13:02 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[customer_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (getdate()) FOR [contract_created_at]
GO
ALTER TABLE [dbo].[ContractTypes] ADD  DEFAULT (getdate()) FOR [contract_type_created_at]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('NORMAL') FOR [customer_priority]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [customer_created_at]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_ContractTypes] FOREIGN KEY([contract_type_id])
REFERENCES [dbo].[ContractTypes] ([contract_type_id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_ContractTypes]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Customers] FOREIGN KEY([contract_customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Customers]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD CHECK  (([contract_status]='TERMINATED' OR [contract_status]='EXPIRED' OR [contract_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD CHECK  (([contract_status]='TERMINATED' OR [contract_status]='EXPIRED' OR [contract_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([customer_priority]='CRITICAL' OR [customer_priority]='NORMAL'))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([customer_priority]='CRITICAL' OR [customer_priority]='NORMAL'))
GO
USE [master]
GO
