USE [master]
GO
/****** Object:  Database [user_services]    Script Date: 5/5/2026 6:18:04 PM ******/
CREATE DATABASE [user_services]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user_services', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\user_services.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user_services_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\user_services_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user_services].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user_services]
GO
/****** Object:  Table [dbo].[Registration_Otps]    Script Date: 5/5/2026 6:18:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Otps](
	[otp_id] [int] IDENTITY(1,1) NOT NULL,
	[otp_user_email] [nvarchar](255) NOT NULL,
	[otp_code_hash] [nvarchar](255) NOT NULL,
	[otp_created_at] [datetime2](7) NULL,
	[otp_expired_at] [datetime2](7) NOT NULL,
	[otp_purpose] [varchar](10) NULL,
	[otp_attempt_count] [int] NULL,
	[otp_status] [varchar](20) NULL,
	[otp_used_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Otps]    Script Date: 5/5/2026 6:18:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Otps](
	[otp_id] [int] IDENTITY(1,1) NOT NULL,
	[otp_user_id] [int] NOT NULL,
	[otp_user_email] [nvarchar](255) NOT NULL,
	[otp_code_hash] [nvarchar](255) NOT NULL,
	[otp_created_at] [datetime2](7) NULL,
	[otp_expired_at] [datetime2](7) NOT NULL,
	[otp_purpose] [varchar](50) NULL,
	[otp_attempt_count] [int] NULL,
	[otp_status] [varchar](20) NULL,
	[otp_used_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Roles]    Script Date: 5/5/2026 6:18:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[role_description] [nvarchar](255) NULL,
	[role_created_at] [datetime2](7) NULL,
	[role_updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Sessions]    Script Date: 5/5/2026 6:18:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Sessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[session_user_id] [int] NOT NULL,
	[session_refresh_token_hash] [nvarchar](500) NOT NULL,
	[session_device_info] [nvarchar](255) NULL,
	[session_ip_address] [varchar](45) NULL,
	[session_created_at] [datetime2](7) NULL,
	[session_last_activity] [datetime2](7) NULL,
	[session_expires_at] [datetime2](7) NOT NULL,
	[session_is_revoked] [bit] NULL,
	[session_revoked_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/5/2026 6:18:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NOT NULL,
	[user_password_hash] [nvarchar](255) NOT NULL,
	[user_phone] [varchar](15) NULL,
	[user_email] [varchar](255) NULL,
	[user_status] [varchar](20) NOT NULL,
	[user_failed_login_attempts] [int] NULL,
	[user_locked_until] [datetime2](7) NULL,
	[user_last_login_at] [datetime2](7) NULL,
	[user_role_id] [int] NOT NULL,
	[user_created_at] [datetime2](7) NULL,
	[user_updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Registration_Otps] ON 

INSERT [dbo].[Registration_Otps] ([otp_id], [otp_user_email], [otp_code_hash], [otp_created_at], [otp_expired_at], [otp_purpose], [otp_attempt_count], [otp_status], [otp_used_at]) VALUES (331, N'tenk8595@gmail.com', N'$2b$10$XpWhqZ1FnRyBV7KG1u01Xu8xjx7QkaXEP/S0XOmTHILgtwbv6ZgF6', CAST(N'2026-05-04T21:50:25.9600000' AS DateTime2), CAST(N'2026-05-04T21:52:25.9600000' AS DateTime2), N'REGISTER', 0, N'EXPIRED', NULL)
INSERT [dbo].[Registration_Otps] ([otp_id], [otp_user_email], [otp_code_hash], [otp_created_at], [otp_expired_at], [otp_purpose], [otp_attempt_count], [otp_status], [otp_used_at]) VALUES (332, N'tenk8595@gmail.com', N'$2b$10$ZBxXnz099Gq03pxjxk5cSuZKQYvlvrLN3e7GlF6g7LNi0S/IdLxBW', CAST(N'2026-05-05T12:22:03.1200000' AS DateTime2), CAST(N'2026-05-05T12:24:03.1200000' AS DateTime2), N'REGISTER', 0, N'VERIFIED', CAST(N'2026-05-05T12:22:26.3300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Registration_Otps] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Roles] ON 

INSERT [dbo].[User_Roles] ([role_id], [role_name], [role_description], [role_created_at], [role_updated_at]) VALUES (1, N'ADMIN', N'Quản trị hệ thống', CAST(N'2026-04-20T10:25:42.8733333' AS DateTime2), CAST(N'2026-04-20T10:25:42.8733333' AS DateTime2))
INSERT [dbo].[User_Roles] ([role_id], [role_name], [role_description], [role_created_at], [role_updated_at]) VALUES (2, N'OPERATOR', N'Vận hành hệ thống', CAST(N'2026-04-20T10:25:42.8733333' AS DateTime2), CAST(N'2026-04-20T10:25:42.8733333' AS DateTime2))
INSERT [dbo].[User_Roles] ([role_id], [role_name], [role_description], [role_created_at], [role_updated_at]) VALUES (3, N'BILLING', N'Quản lý thanh toán', CAST(N'2026-04-20T10:25:42.8733333' AS DateTime2), CAST(N'2026-04-20T10:25:42.8733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Sessions] ON 

SET IDENTITY_INSERT [dbo].[User_Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [user_name], [user_password_hash], [user_phone], [user_email], [user_status], [user_failed_login_attempts], [user_locked_until], [user_last_login_at], [user_role_id], [user_created_at], [user_updated_at]) VALUES (6, N'Admin', N'admin123', N'1234567899', N'admin@gmail.com', N'ACTIVE', 0, NULL, NULL, 1, CAST(N'2026-04-22T13:07:09.2033333' AS DateTime2), CAST(N'2026-04-22T13:07:09.2033333' AS DateTime2))
INSERT [dbo].[Users] ([user_id], [user_name], [user_password_hash], [user_phone], [user_email], [user_status], [user_failed_login_attempts], [user_locked_until], [user_last_login_at], [user_role_id], [user_created_at], [user_updated_at]) VALUES (7, N'Operator', N'operator123', N'1234567898', N'operator@gmail.com', N'ACTIVE', 0, NULL, CAST(N'2026-05-05T17:30:02.3000000' AS DateTime2), 2, CAST(N'2026-04-22T13:21:30.0500000' AS DateTime2), CAST(N'2026-04-22T13:21:30.0500000' AS DateTime2))
INSERT [dbo].[Users] ([user_id], [user_name], [user_password_hash], [user_phone], [user_email], [user_status], [user_failed_login_attempts], [user_locked_until], [user_last_login_at], [user_role_id], [user_created_at], [user_updated_at]) VALUES (8, N'Billing', N'billing123', N'1234567897', N'billing@gmail.com', N'ACTIVE', 0, NULL, NULL, 3, CAST(N'2026-04-22T13:22:24.8500000' AS DateTime2), CAST(N'2026-04-22T13:22:24.8500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ActiveOTP]    Script Date: 5/5/2026 6:18:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ActiveOTP] ON [dbo].[Registration_Otps]
(
	[otp_user_email] ASC
)
WHERE ([otp_status]='ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User_Rol__783254B122D57170]    Script Date: 5/5/2026 6:18:04 PM ******/
ALTER TABLE [dbo].[User_Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__6A5ACCAB41DD7172]    Script Date: 5/5/2026 6:18:04 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[user_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__B0FBA2123FDE5E51]    Script Date: 5/5/2026 6:18:04 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_user_email]    Script Date: 5/5/2026 6:18:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_user_email] ON [dbo].[Users]
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_user_phone]    Script Date: 5/5/2026 6:18:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_user_phone] ON [dbo].[Users]
(
	[user_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Registration_Otps] ADD  DEFAULT (getdate()) FOR [otp_created_at]
GO
ALTER TABLE [dbo].[Registration_Otps] ADD  DEFAULT ('REGISTER') FOR [otp_purpose]
GO
ALTER TABLE [dbo].[Registration_Otps] ADD  DEFAULT ((0)) FOR [otp_attempt_count]
GO
ALTER TABLE [dbo].[Registration_Otps] ADD  DEFAULT ('ACTIVE') FOR [otp_status]
GO
ALTER TABLE [dbo].[User_Otps] ADD  DEFAULT (getdate()) FOR [otp_created_at]
GO
ALTER TABLE [dbo].[User_Otps] ADD  DEFAULT ((0)) FOR [otp_attempt_count]
GO
ALTER TABLE [dbo].[User_Otps] ADD  DEFAULT ('ACTIVE') FOR [otp_status]
GO
ALTER TABLE [dbo].[User_Roles] ADD  DEFAULT (getdate()) FOR [role_created_at]
GO
ALTER TABLE [dbo].[User_Roles] ADD  DEFAULT (getdate()) FOR [role_updated_at]
GO
ALTER TABLE [dbo].[User_Sessions] ADD  DEFAULT (getdate()) FOR [session_created_at]
GO
ALTER TABLE [dbo].[User_Sessions] ADD  DEFAULT (getdate()) FOR [session_last_activity]
GO
ALTER TABLE [dbo].[User_Sessions] ADD  DEFAULT ((0)) FOR [session_is_revoked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('ACTIVE') FOR [user_status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [user_failed_login_attempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [user_created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [user_updated_at]
GO
ALTER TABLE [dbo].[User_Otps]  WITH CHECK ADD FOREIGN KEY([otp_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[User_Sessions]  WITH CHECK ADD FOREIGN KEY([session_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([user_role_id])
REFERENCES [dbo].[User_Roles] ([role_id])
GO
USE [master]
GO
