.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: #fdfdfd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-bottom: 5px solid #ff0000;
}

.header-left img {
  height: 70px;  
  width: auto;
}

.header-left {
  margin-left: 35px;
}

.header-right span {
  font-size: 16px;
}

.header-right {
  margin-right: 35px;
}